.quizBox{
 position:fixed;
 top: 50%;
 left: 50%;
 height: 36rem;
 width: 48rem;   
 box-shadow: 0 0 10px;
 background-color: beige;
 margin-top: -18rem;
 margin-left: -24rem;
}

.quizHeader {
    height: 4rem;
    background-color: cadetblue;
}